.menu {
    background-color: yellow;
    float: left;
    list-style: none;
    margin-right: 30px;
}

.float {
    clear: both;
}

.footer {
    text-align: end;
    background-color: rgb(54, 54, 54);
    
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    padding: 15px;

}

.card{
    margin: 80px;
    float: left;
}

.display-4 {
    font-weight: bold;
}
